{% extends "base.html" %}

{% block head_title %} {{ movie.title }} {% endblock %}
{% block content %}
    <h1>{{ movie.title }}</h1>
    <img src="{{ movie.image }}" alt="{{ movie.title }}" width="300px">
    <p>{{ movie.summary }}</p>
    <ul>
        <li><strong>Director:</strong> {{ movie.director_name }}</li>
        <li><strong>Release Date:</strong> {{ movie.release_date|date:"d/m/Y" }}</li>
        <li><strong>Category:</strong> {{ movie.category.name }}</li>
        <li><strong>Rating:</strong> {{ movie.rating }}</li>

    </ul>
{% endblock %}